<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="password_generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <password_generator.Properties.Settings>
            <setting name="Symbols" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Numbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Upper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Lower" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Similar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ambiguous" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Equals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LevelPass" serializeAs="String">
                <value>True</value>
            </setting>
        </password_generator.Properties.Settings>
    </userSettings>
</configuration>